{% extends "base.html.twig" %}

{% block body %}
    <h1>Hello, world!</h1>

    <main>
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="bg-light shadow border rounded-lg p-4">
                    <h3 class="font-weight-light">
                        Create Order
                    </h3>

                    {{ form(form) }}
                </div>
            </div>
        </div>
    </main>


{% endblock %}